@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter&display=swap');


body {
  background-color: #FFFEFC;

}

.nav {

  margin-top: 30px;
  margin-left: 50px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

}

.nav-title {
  font-family: 'DM Sans', sans-serif;
  font-size: 60px;
}


.nav a {
  color: black;
  text-decoration: none;
}

.gen-link {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #F2D1D1;
}

.nav ul {
  font-family: 'Inter', sans-serif;
  font-size: 25px;
  list-style: none;
  display: flex;
  gap: 50px;
}


.home-container {
  max-width: 1350px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.info-container {
  margin-top: 50px;
  max-width: 575px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

}

.home-title {
  max-width: 575px;
  width: 100%;
  font-family: 'DM Sans', sans-serif;
  font-size: 70px;
}

.home-sub {
  max-width: 575px;
  width: 100%;
  font-family: 'DM Sans', sans-serif;
  font-size: 30px;
  letter-spacing: 0, 3px;

}

.bird-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  max-width: 500px;
  width: 100%;
  height: 600px;

}

.bird {
  max-width: 450px;
}

.home-btn {
  max-width: 200px;
  width: 100%;
  background-color: #F2D1D1;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 12px 20px;
  font-size: 20px;
  font-family: 'DM Sans', sans-serif;
  cursor: pointer;
  text-align: center;
}


.home-btn:hover {
  opacity: 0.4;
}

.home-btn-container {
  margin-top: 20px;
  display: flex;
  max-width: 600px;
  width: 100%;
  justify-content: flex-start;

}


.footer-bar {

  margin-left: 50px;
  height: 250px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;


}


.footer-bar a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #F2D1D1;
}

.footer-bar ul {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  list-style: none;
  display: flex;
  gap: 130px;
}


.social {
  font-size: 25px;
}


.about-container-1 {
  margin-top: 50px;
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}


.my-story {
  max-width: 575px;
  width: 100%;
  font-family: 'DM Sans', sans-serif;
  font-size: 50px;
  letter-spacing: 0, 3px;
}

.story-txt-1 {
  max-width: 575px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  letter-spacing: 0, 3px;
  line-height: 35px;

}

.flower-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  max-width: 600px;
  width: 100%;


}

.flower-head {
  max-width: 600px;
}


.about-container-2 {
  margin-top: 20px;
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.story-container-2 {
  margin-left: 50px;
}


.forward {
  max-width: 575px;
  width: 100%;
  font-family: 'DM Sans', sans-serif;
  font-size: 50px;
  letter-spacing: 0, 3px;
}

.story-txt-2 {
  max-width: 575px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  letter-spacing: 0, 3px;
  line-height: 35px;

}

.coffee-container {
  margin-right: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  max-width: 600px;
  width: 100%;

}

.coffee {
  max-width: 500px;
}


.form-background {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  width: 100%;
  height: 550px;
  background-color: #FFEEEE;
  border-radius: 10px;
}

.name-box,
.email-box,
.message-box {
  display: flex;
  flex-direction: column;
}

label {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  margin-top: 20px;
}

input {
  width: 400px;
  height: 35px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

input:focus {
  background-color: #F0F0F0;
}

.input-message {
  width: 400px;
  height: 60px;
}

.contact-me {
  font-family: 'DM Sans', sans-serif;
  font-size: 50px;
  margin-top: 20px;
}

::placeholder {
  font-family: 'Inter', sans-serif;
}

.contact-btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  cursor: pointer;
  width: 400px;
  text-align: center;
}

.contact-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  width: 100%;

}

.better {
  font-family: 'DM Sans', sans-serif;
  font-size: 50px;
  margin-top: 20px;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.call-container {
  margin-top: 30px;
  max-width: 700px;
  width: 100%;
  height: 250px;
  background-color: #FFEEEE;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.book-call {
  max-width: 300px;
  width: 100%;
  background-color: #F2D1D1;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 12px 20px;
  font-size: 25px;
  font-family: 'DM Sans', sans-serif;
  cursor: pointer;
  text-align: center;
}

.book-call:hover {
  opacity: 0.6;
}

.overlay {
  max-width: 600px;
  width: 100%;
  background-color: #F0F0F0;
  z-index: 999;
}

.close {
  padding: 10px;
  display: flex;
  margin-left: auto;
  font-size: 30px;
  cursor: pointer;
}

.content {
  font-family: 'DM Sans', sans-serif;
  text-align: center;
  font-size: 30px;
  padding-bottom: 30px;
}

.uncontrolled {
  background-color: aliceblue;
}

.message-sent {
  margin-top: 30px;
  padding: 30px;
  max-width: 300px;
  width: 100%;
  background-color: #F0F0F0;
}

.message {
  font-family: 'Inter', sans-serif;
  text-align: center;
}

.sent {
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-style: italic;

}

.project-container {

  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /*border: 1px solid black;*/
}


.gen-container {
  /* border: 1px solid red;*/
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gen {
  font-family: 'Inter', sans-serif;
  font-size: 30px;
}

.genesis {
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.gen-img {
  margin-top: 30px;
}

.bak {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  width: 300px;
  text-align: center;


}

.bak-div {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 25px;

}